.visit{
	background-color: #1F38B8;
	height: 435px;
	color: #white;
}
.InputBox{
	width: 100%;
	height: 90px;
	vertical-align: bottom;
}
.messages{
	height: 390px;
	overflow: auto;
}
.modal {
    position: relative !important;
    margin-left: 30% !important;
    right-padding: 100px;
    margin-top: -400px !important;
    background-color: transparent;
    width: 50% !important;
}